<html>

<head>
	<title>Login</title>
  <link rel = "icon" type = "image/png" href = "/style/Assets/icon.png">
  <link href="/style/main.css" rel="stylesheet">
  <link href="/style/login.css" rel="stylesheet">
	<!-- <script src = "login.js"></script> -->
</head>
<body>

	<div class = "window animation-easeIn">

    <div class = "main">
	<h3>Log in to the system</h3>
	<section class="login">

		<form action = "/login" method = "POST" class = "loginForm" accept-charset = "utf-8">
		    <input class = "textInput" type = "text" name = "email" placeholder = "Email..." required /><br />
		    <input class = "textInput" type = "password" name = "password" placeholder = "Password..." required /><br />
		    <input class = "buttonInput" type = "submit" name = "bttnLogin" id = "bttnLogin" value = "Log in" />
		</form>
	</section>
    </div>
    <% unless @error.nil? %>
        <p class = "error animation-easeIn"><%= @error %></p>
    <% end %>
    </div>
</body>
</html>
