<html>
<head>
  <title>Logged out</title>
  <link rel = "icon" type = "image/png" href = "/style/Assets/icon.png">
  <link href="/style/main.css" rel="stylesheet">
  <link href="/style/logout.css" rel="stylesheet">
  <script src="/scripts/redirect.js"></script>
</head>

<body>
<div class = "window animation-easeIn">
    <div class = "main">
        <h3>Logged out</h3>
        <section>
            <p>You are being redirected...</p><br />
            <a href="/login" class = "buttonInput">Log in again</a>
        </section>
    </div>
</div>
</body>
</html>
