<nav>
  <a href="/logout" class = "navButton">Logout</a>
  <a href="/settings" class = "navButton">Settings</a>
  <a href="/followers" class = "navButton">Followers</a>
  <a href="/custom_search" class = "navButton">Search</a>
  <a href="/homepage" class = "navButton">Home</a>
</nav>