<!DOCTYPE html>
<html>
<head>
  <title>Custom Twitter Search</title>
  <link href="/style/style.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <h1>Page not found</h1>
  <p><strong><%= @error %></strong></p>
    <p>Try <a href="/homepage"> home</a> instead</p>
</div>